<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus.androideatit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".Helper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_start"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_start"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl , android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".FoodList" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".Cart" />
        <activity
            android:name=".OrderStatus"
            android:exported="true" />

        <!-- Here init service to receive any messages -->
        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Here init service to receive any messages -->


        <!-- Here init facebook -->
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider..........."
            android:exported="true" />
        <!-- Here init facebook -->


        <!-- Here Google Places API Then MAPS API -->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value=".............." />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Here Google Places API Then MAPS API -->

        <activity android:name=".ShowComment" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity
            android:name=".TrackingOrder"
            android:label="@string/title_activity_tracking_order"/>
    </application>

</manifest>